<app-header></app-header>
	<body class="img js-fullheight" style="background-image: url(assets/images/sg.jpg);">
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="login-wrap p-0">
                      <h3 class="mb-4 text-center"> <strong>CREER VOTRE COMPTE </strong>  </h3>
                      <form action="#" class="signin-form">
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="E-mail" required>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Numéro Tel" required>
                        </div>
                    <div class="form-group">
                      <input id="password-field" type="password" class="form-control" placeholder="Password" required>
                     
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary submit px-3">S'inscrire</button>
                    </div>
                
                  </form>
                  <p class="w-100 text-center">&mdash; Continué avec  &mdash;</p>
                  <div class="social d-flex text-center">
                      <a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
                      <a href="#" class="px-2 py-2 ml-md-1 rounded"><img src ="assets/images/google.png"      > Google</a>
                  </div>
                  </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <app-footer></app-footer>